body {background-color: #000000;
    background: url("image/1769054.gif");
    background-size:contain;
    background-position:top;
    background: cover;
}
.loginContainer{
    margin: 90px 90px;
   margin-top: 5rem;
   margin-right: 60rem;
   height: 100%;
   width: 22%;
   background: white;
   border-radius:8px ;
   height: fit-content;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   border: 10px;
   font-family: 'Inter', sans-serif;;
    
}
.Content {
    padding: 50px 50px;
    flex-direction: column;

}
.Text h2{
    margin-top: -2rem;
    margin-left: -2rem;
    padding-right: 30px;

}
.FirstInput input{
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    margin-left: -20px;
    border: 1px solid rgb(121, 120, 120);
}
.FirstInput{
    margin-top: 25px;
}
.FirstInput text{
    font-size: 13px;
    margin-left: -12px;
}
.SecondInput input{
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    margin-left: -20px;
    border: 1px solid rgb(121, 120, 120);
}
.SecondInput{
    margin-top: 20px;
    
}
.SecondInput text{
    font-size: 13px;
    margin-left: -13px;
}
.Button button{
    width: 110%;
    padding: 9px 25px;
    margin-left: -20px;
    border:none;
    border-radius: 4px;
    background-color: black;
    color: white;
}
.Button{
    margin-top: 20px;

}
.Button text{
    margin-left: 90px;
    display: flex;
    padding-bottom: 12px;
    font-size:11.5px;
}
.text text{
    color: rgb(138, 133, 133);
    margin-left: 75px;          
    display: flex;
    margin-top: 17px;
    font-size: 15px;
}   

.string text{
    font-size: 14px;

}
.string{
    margin: 20px -.5px;
    padding-left:-10px;
}
.LogoIcon{
    display: flex;
    float: left;
    justify-content: space-between;
    border: 2px 50px;

}.google{
   width: 20px;
    padding-right: 20px;
}