body {
    background-image: url('image/pexels-abdullah-ghatasheh-1631677.jpg');
    background-size: contain;
    background-size: cover;
    background-repeat: no-repeat;

}

.LoginPage {

    padding: 50px 50px;

}

.LoginContanier {
    background-color: white;
    height: fit-content;
    height: 100%;
    border: 10px;
    margin-top: 5rem;
    margin: 7rem 33rem;
    width: 23%;
    margin-right: 60rem;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    justify-content: center;
    display: flex;
    margin-bottom: 70px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.UpperText{
    font-size: 120%;
    font-family: 'Encode Sans', sans-serif;
font-family: 'Inter', sans-serif;
}

.UpperText h2 {
    margin-top: -2rem;
    margin-left: -2rem;
    padding-right: 35px;
}

.FirstInput text {
    font-size: 13px;
    margin-left: -16px;
}

.FirstInput input {
    padding: 12px;
    border-radius: 5px;
    width: 100%;
    margin-left: -20px;
    border: 1px solid rgb(95, 91, 91);
}

.SecondInput text {
    font-size: 13px;
    margin-left: -18px;

}

.SecondInput input {
    padding: 12px;
    border-radius: 5px;
    width: 100%;
    margin-left: -20px;
    border: 1px solid rgb(95, 91, 91);
}

.FirstInput {
    margin-top: 25px;
}

.SecondInput {
    margin-top: 20px;
}



.button button {
    width: 110%;
    padding: 12px 25px;
    border: none;
    background-color: black;
    color: white;
    margin-left: -20px;
    border-radius: 5px;
}

.button {
    margin-top: 9px;
}

.buttontext {
    padding: 12px 0px;

}

.buttontext text {
    margin-left: 105px;
}

.OrText {
    color: rgb(94, 92, 92);
    text-align: center;
    margin-top: 12px;
    margin-right: 20px;
}

.AllImage img {
    width: 15%;
    justify-content: space-between;
    float: left;
    padding: 0px 0px;
}

.LogoImage4 img{
    
  width: 25%;
  margin-right: 90px;
   
}

 img {
   display: flex;
    margin-top:18px; /*to have the space above the image*/
    margin-bottom:5px;
    margin-left: -20px;
    margin-left: 3px;
    margin-right:12px;
   
   
 

}
.BottomText{
    margin-top: 12px;
    margin-left: 2px;
    margin-right: 2px;
}
.Text2{
   margin-left: -18px;
  position: relative;
   width: 5%;
   bottom: -10px
}
